.buttonGraph {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #404040;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.lastButtonGraph {
	-fx-border-width: 0.0;
}

.buttonGraph:hover {
}

.buttonGraph:selected {
	-fx-background-color: #CCCCCC;
}

#containerButtonGraph {
	-fx-background-color: #A0A0A0;
}