.buttonGraph {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 0.0em;
	-fx-border-color: #404040;
	-fx-border-width: 0.0 0.0 2.0 0.0;
	-fx-pref-height: 8em;
	-fx-font-size: 8pt;
}

.lastButtonGraph {
	-fx-border-width: 0.0;
}

.buttonGraph:hover {
	-fx-background-color: #F2F2F2;
}

.buttonGraph:selected {
	-fx-background-color: #CCCCCC;
}