graph {
    canvas-color: #707070;
    fill-mode: gradient-vertical;
    fill-color: #808080, #909090, #A0A0A0;
    padding: 130.0px, 50.0px;
}

node {
	size-mode: fit;
	shape: circle;
	text-alignment: center;
	text-size: 15px;
	text-offset: 0px, 10px;
	text-color: #FFFFFF;
	padding: 15px, 10px;
	fill-color: #BF0000;
	stroke-mode: plain;
	stroke-color: #FFFFFF;
	stroke-width: 2px;
	text-style: bold;
}

 edge {
     shape: line;
     fill-color: #FFF;
     arrow-size: 10.0px, 6.0px;
     z-index: 0.0;
     size: 3.0px;
 }
 
 node:clicked {
     fill-color: #FF0000;
 	 stroke-color: #E6E6E6;
 }
 
 node:selected {
     fill-color: #FF0000;
 	 stroke-color: #E6E6E6;
 }