graph {
	canvas-color: #707070;
	fill-mode: gradient-vertical;
	fill-color: #808080, #909090, #A0A0A0;
	padding: 130.0px, 50.0px;
}

node {
	size-mode: fit;
	shape: circle;
	text-alignment: center;
	text-size: 15.0px;
	text-offset: 0.0px, 15.0px;
	text-color: #FFFFFF;
	padding: 20.0px, 15.0px;
	fill-color: #AA4A4A;
	stroke-mode: plain;
	stroke-color: #FFFFFF;
	stroke-width: 1.0px;
}

sprite .mainSprite {
	size: 15.0px; 
	fill-color:#4a7aaa; 
	shape:diamond; 
}

sprite .notVisible {
	visibility-mode:hidden;
}

sprite {
	stroke-color: #FFFFFF;
	stroke-width: 1.0px;
	stroke-mode: plain;
}

sprite .portSprite {
	shape: box;
	text-alignment: center;
	text-size: 12.0px;
	text-offset: 0.0px, 18.0px;
	text-color: #FFFFFF;
	padding: 1.0px, 1.0px;
	fill-color: #4aaaaa;
}

edge {
	shape: angle;
	fill-color: #FFF;
	arrow-size: 10.0px, 6.0px;
	z-index: 0.0;
	size: 2.0px;
}

node:clicked {
	fill-color: #cc9292;
}

node:selected {
	fill-color: #cc9292;
}