.buttonGraph {
	-fx-background-color: linear-gradient(from 0.0 100.0 to 100.0 -100.0, #c34e4b, #ca6562);
	-fx-border-color: #db9493;
	-fx-border-width: 1.5 0.0 0.0 1.5;
}

.buttonGraph:hover {
	-fx-background-color: linear-gradient(from 0.0 100.0 to 100.0 -100.0, #b4231f, #c34e4b);
}

.buttonGraph:selected {
	-fx-background-color: linear-gradient(from 0.0 100.0 to 100.0 -100.0, #a21f1b, #b4231f);
}

.lastButtonGraph {
	-fx-border-width: 1.5 0.0 1.5 1.5;
}