.secondaryWindow {
	-fx-border-color: white;
    -fx-border-width: 4.0px;
    -fx-pref-height: 600.0;
    -fx-pref-width: 1000.0;
    -fx-min-height: 400.0;
    -fx-min-width: 500.0;
}

.littleSecondaryWindow {
	-fx-border-color: white;
    -fx-border-width: 4.0px;
    -fx-pref-height: 250.0;
    -fx-pref-width: 500.0;
    -fx-min-height: 250.0;
    -fx-min-width: 500.0;
    -fx-max-height: 250.0;
    -fx-max-width: 500.0;
}

.title {
    -fx-background-color: linear-gradient( from 0.0 100.0 to 100.0 -100.0, #b4231f, #c34e4b);
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
    -fx-pref-height: 60.0;
    -fx-font-family: "OpenSymbol";
    -fx-font-size: 16.0pt;
}

.buttonSecondaryWindow {
    -fx-background-radius: 5.0px;
    -fx-font-size: 15.0px;
    -fx-font-weight: bold;
	-fx-pref-height: 50.0;
	-fx-pref-width: 180.0;
	-fx-font-family: "Open Sans";
}

.buttonSecondaryWindowAdd {
    -fx-background-radius: 5.0px;
    -fx-font-size: 15.0px;
	-fx-font-weight: bold;
	-fx-pref-height: 40.0;
	-fx-pref-width: 180.0;
	-fx-font-family: "Open Sans";
	-fx-background-color: linear-gradient( from 0.0 100.0 to 100.0 -100.0, #B4DEDA, #99D1CB);
	-fx-text-fill: #FFF;
}

.buttonSecondaryWindowAdd:hover {
	-fx-background-color: linear-gradient( from 0.0 100.0 to 100.0 -100.0, #99C9C5, #84B3AE);
}

.buttonSecondaryWindowKo {
	-fx-background-color: linear-gradient( from 0.0 100.0 to 100.0 -100.0, #dbdbdb, #e0e0e0);
	-fx-text-fill: #000000;
}

.buttonSecondaryWindowOk {
    -fx-background-color: linear-gradient( from 0.0 100.0 to 100.0 -100.0, #b4231f, #c34e4b);
    -fx-text-fill: #FFFFFF;
}

.buttonSecondaryWindow:hover {
    -fx-background-color: linear-gradient( from 0.0 100.0 to 100.0 -100.0, #cccccc, #d1d1d1);
    -fx-font-weight: bold;
}

.buttonSecondaryWindowOk:hover {
    -fx-background-color: linear-gradient( from 0.0 100.0 to 100.0 -100.0, #a21f1b, #901c18);
}

.tab {
    -fx-font-size: 14.0px;
	-fx-pref-height: 40.0;
	-fx-font-family: "Open Sans";
	-fx-text-fill: #FF0000;
	-fx-background-color: linear-gradient( from 0.0 100.0 to 0.0 -100.0, #EDEDED, #E3E3E3);
	-fx-background-radius: 1.0px;
}

.tab:selected {
	-fx-background-color: linear-gradient( from 0.0 100.0 to 0.0 -100.0, #F5F5F5, #F2F2F2);
	-fx-border-color: #888 #888 #f4f4f4 #888;
    -fx-border-width: 1.5px 1.5px 1.0px 1.5px;
	-fx-border-radius: 1.0px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.tree {
	-fx-font-size: 10.0pt;
    -fx-font-family: "Open Sans";
}

.list {
	-fx-font-size: 10.0pt;
    -fx-font-family: "Open Sans";
}

.singleAttribute {
	-fx-font-size: 11.0pt;
    -fx-font-family: "Open Sans";
}

.invalidField, .infoField {
	-fx-font-size: 12.0pt;
}

.endOfInput {
	-fx-text-fill: darkgray;
	-fx-font-size: 15.0pt;
}

.text-input {
	-fx-padding: 10.0px 90.0px 10.0px 10.0px;
}

.text-input, .text-input:focused {
	-fx-prompt-text-fill: darkgray;
}