graph {
    canvas-color: black;
    fill-mode: gradient-vertical;
    fill-color: black, #004;
    padding: 20px;
}
node {
    shape: circle;
    size-mode: dyn-size;
    size: 10px;
    fill-mode: gradient-radial;
    fill-color: #FFFC, #FFF0;
    stroke-mode: none;
    shadow-mode: gradient-radial;
    shadow-color: #FFF5, #FFF0;
    shadow-width: 5px;
    shadow-offset: 0px, 0px;
}
node:clicked {
    fill-color: #F00A, #F000;
}
node:selected {
    fill-color: #00FA, #00F0;
}
edge {
    shape: L-square-line;
    size: 1px;
    fill-color: #FFF3;
    fill-mode: plain;
    arrow-shape: none;
}
sprite {
    shape: circle;
    fill-mode: gradient-radial;
    fill-color: #FFF8, #FFF0;
}