.invalidField {
	-fx-font-size: 12.0pt;
	-fx-fill: #CA2723;
}

#endOfService {
	-fx-text-fill: darkgray;
}

.text-input {
	-fx-padding: 10.0px 90.0px 10.0px 10.0px;
}
.text-input, .text-input:focused { -fx-prompt-text-fill: darkgray; }

