.buttonDialog {
	-fx-background-color:#FFFFFF;
	-fx-background-radius: 5.0px;
	-fx-border-color: #404040;
	-fx-border-width: 0.0 0.0 0.0 0.0;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.buttonDialog:hover {
	-fx-background-color:#CCCCCC;
	-fx-font-weight: bold;
}

.buttonDialogOk {
	-fx-background-color: #CA2723;	
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.buttonDialogOk:hover {
	-fx-background-color: #8d1b18;	
}

.title {
	-fx-font-size: 20px;
}