node {
     size: 6px;
     fill-color: #777;
     z-index: 1;
 }
 edge {
     shape: line;
     fill-color: #222;
     arrow-size: 6px, 4px;
     z-index: 0;
 }
 node:clicked {
     fill-color: red;
 }
 node:selected {
     fill-color: red;
 }
 edge.selection {
     fill-color: red;
 }